* :not(.icon) {   
    font-family: 'Girassol', cursive !important;
    font-size: 1.5rem; 
    
}
html {
	scroll-behavior: smooth;
    background-color: #eeebe7;
    
}
body {
    min-height: 100vh;
    border-radius: 0px;
    
}
.has-navbar-fixed-bottom {
    padding-bottom: 3.25rem;
    background-color: #eeebe7;
}
#figure {
    height: 600px;
    width: 100%;
    background-image: url(../images/image.jpeg);
    background-size: cover;
    background-position: center;
}
.titleDiv {
    margin-right: auto;
    margin-left: auto;
}
.logo:before {
    font-family: FontAwesome;
    display: inline-block;
    padding: 0px 6px 0px 6px;
    vertical-align: middle;
    content: "\f22c";
    background-color: rgb(66, 173, 120);
 }
.siteTitle {
    font-size: 4rem !important;
    max-width: 75%;
    margin-top: 150px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    background-color: #e7e4de;
}
.description {
    width: 50%;
    margin: 0 auto;
    background-color: #eeebe7;
}
.searchDiv {
    margin-left: 3rem;
    width: 60%;
    background-color: #eeebe7;
}
.brewName {
    font-weight: 500;
    font-size: 2rem;
}
.history .brewName, .history .content {
    font-size: 1.25rem !important;  
}
.safe-div {
    background-color: rgb(66, 173, 120);
    text-align: center;
}
.main-header {
    padding-left: 20px;
    padding-top: 20px;
}
.sticky	{
	position: sticky;
  	top: 30px;  
}
.resultsAndHistory {
    padding-top: 10px;
    width: 100%;
    margin: 0px !important;
    min-height: 400px;
    background-color: #eeebe7;
   
}
.result-div {
    border: 2px solid rgb(110, 110, 110);
    background-color: rgb(126, 163, 145);
    color: white;   
}
.results .result-div .card-header .brewName {   
    font-weight: 500;
    font-size: 1.5rem;
}
.result-div .nearestName {
    color: white;
    font-weight: 600;
    padding-bottom: 0;
}
.result-div .nearestStreet {
    border-left: none;
}
.titleAndButton {  
    display: flex;
    flex-direction: row;
}
.delete-btn {
    margin-left: auto;
}
.history .result-div {
    overflow: hidden;
}
.nearBtn {
    margin-right: auto;
    margin-left: auto;
    word-wrap: normal;
    white-space: normal;
    height: auto;
}
.moreBtn, .lessBtn {
    background-color:rgb(126, 163, 145); 
    border: none;
    color:  #363636;
}
.save-button {
    margin-right: -25px;
    height:fit-content;  
    margin-top: 10px;
    padding: 5px;
}

@media only screen and (max-width: 768px) {

    #figure {
        height: 750px;
        width: 100%;
        background-image: url(../images/image_3.JPG);
        background-size: cover;
        background-position: center;
    }
    .siteTitle {
        margin-top: 75px;
        font-size: 2rem !important;
        border-radius: 0;
    }
    .field {
        width:70%; 
    }
    .searchDiv {
        width:100%;
        margin-left: 0px !important;
    }
    .description {
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 350px;
        border-radius: 0;
        color:rgb(202, 221, 212);
        background-color: transparent; 
    }
    .subtitle {
        display: none;
        margin-top: 15px;
        margin-bottom: 100px !important;
        font-weight: 500;
    }
    .history .result-div .icon-button {
        width: 100%;    
    }
    .save-button {
        height:fit-content;  
    }


} 
  