html {
    background-color: rgb(163, 151, 126);
}

body {
    min-height: 100vh;
    border-radius: 0px;
}

#figure {
    height: 600px;
    width: 100%;
    background-image: url(../images/image.jpeg);
    background-size: cover;
    background-position: center;
}
.titleDiv {
   margin: auto;
}

.siteTitle {
    font-size: 3rem !important;
    max-width: 75%;
    margin-top: 150px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    background-color: white;
  
}

.searchDiv {
    display: flex;
    flex-direction: row;
    
}

.search-box {
    margin-left: 3rem;
    margin-right: 3rem;
}



select {
    text-rendering: auto !important; 
}

.stateDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    margin-left: 47px !important;
   
}

#state {
  padding: 0px 15px; 
}



.description {
    width: 75%;
    margin: 0 auto;
    background-color: white;
}



.brewName {
    font-weight: 500;
    font-size: 1.25rem;
}

.safe-div {
    background-color: rgb(66, 173, 120);
    text-align: center;
}

.main-header {
    padding-left: 20px;
    padding-top: 20px;
}
.sticky	{
	position: sticky;
  	top: 30px;
}

.resultsAndHistory {
    border-top: 3px solid white;
    margin-top: 10px;
    padding-top: 10px;
    background-color: white;
    width: 100%;
    margin-right: 0;
    margin-left: 0
}

.savedTitle {
    text-align: center;
    color: black;
}
.result-div {
    border: 2px solid rgb(110, 110, 110);
    margin: 10px !important;
    background-color: rgb(126, 163, 145);
    color: white;
}

.result-div .brewName {
    color: white;
}


.result-div .nearestName {
    color: white;
    font-weight: 600;
    border-left: none;
    padding-bottom: 0;
}

.result-div .nearestStreet {
    border-left: none;
}

.titleAndButton {
  
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.delete-btn {
    margin-left: auto;
}

.history .result-div {
    overflow: hidden;
}

.nearBtn {
    margin-right: auto;
    margin-left: auto;
    word-wrap: normal;
    white-space: normal;
    height: auto;
}

.no-input {
    width: 35%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.no-input footer {
    background-color:rgb(110, 110, 110);
    color: white;
    display: flex;
    flex-direction: column;
}

.no-input footer p {
    text-align: center;
    margin-bottom: 15px;
}

.noResponse {
    width: 35%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-right: auto;
    margin-left: auto;
}
.stateSelect .modal-content {
    width: 35%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-right: auto;
    margin-left: auto;
}
.noResponse footer {
    background-color:rgb(110, 110, 110);
    color: white;
    display: flex;
    flex-direction: column;
}

.noResponse footer p {
    text-align: center;
    margin-bottom: 15px;
}

.icon-button {
    height:fit-content;
  
    margin-left: 10px;
    margin-right: -10px;
    background-color:rgb(126, 163, 145); 
    color: white;
    border: none;
}

.save-button {
    height:fit-content;  
    margin-top: 10px;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    .results .result-div {
        margin-left: 0 !important;
        margin-left: 10px !important;
    }

    .history .result-div {
        margin-right: 0 !important;
        margin-right: 10px !important;
    }
    .search {
        margin-top: .75rem;
        width: 100%;
    }  
}


@media only screen and (max-width: 500px) {
    #figure {
        height: 750px;
        width: 100%;
        background-image: url(../images/image_3.JPG);
        background-size: cover;
        background-position: center;
    }
    .siteTitle {
        margin-top: 75px;
        font-size: 2rem !important;
        border-radius: 0;
    }

    .searchDiv {
        flex-direction: column;
        width: 80%;
        margin: 50px;
    }

    .stateDiv {
        flex-direction: column;
        width: 100%;
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
    }

    .search-box-div {
        width: 100%;
    }

    .search-control {
        margin-right:auto;
        margin-left: auto;
        width: 100%;
        overflow: hidden;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
    }

    #state {
        margin-top: 0;
    }

    .search {
        margin-top: .75rem;
        width: 100%;
    }

    .searchBtn a {
        width: 100%;
    }

    .description {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 0;
        color:rgb(202, 221, 212);
        background-color: transparent;
     
    }
    .subtitle {
        display: none;
        margin-top: 15px;
        margin-bottom: 100px !important;
        font-weight: 500;
    }

    .results .result-div {
        margin-left: 0 !important;
        margin-left: 10px !important;
    }

    .history .result-div {
        margin-right: 0 !important;
        margin-right: 10px !important;
    }


   
  