html {
    background-color: rgb(126, 163, 145);
}

body {
    min-height: 100vh;
}

.selectDiv {
    margin-bottom: .75rem;
}

.button-icon {
    margin-bottom: .75rem;
}

.result-div {
    border: 2px solid rgb(110, 110, 110);
    margin: 10px;
}

.brewName {
    font-weight: 500;
    font-size: 1.25rem;
}

.safe-div {
    background-color: rgb(27, 114, 70);
    color: rgb(0, 255, 157);
}

.main-header {
    padding-left: 20px;
    padding-top: 20px;
}

.savedTitle {
    text-align: center;
}

.isCentered {
    text-align: center;
}

.history .result-div .near-button {
    margin-right: auto;
    margin-left: auto;
}



.no-input {
    background-color: aqua;
    width: 35%;
}


@media only screen and (max-width: 500px) {
    .search-box {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .searchDiv {
        width: 100%;
    }

    .searchInput {
        padding-left: 40px;
    }

    .selectDiv {
        width: 100%;
    }

    #state {
        width: 100%;
    }

    .button-icon {
        width: 100%;   
    }
}